/ChessGame/ChessGame/bin
/ChessGame/ChessGame.Business/bin
/ChessGame/ChessGame.Business.Contracts/bin
/ChessGame/ChessGame.Business.Contracts/obj
/ChessGame/ChessGame.Business/obj
/ChessGame/ChessGame/obj
/ChessGame/ChessGame/Logs
/ChessGame/ChessGame.CrossCut/bin
/ChessGame/ChessGame.CrossCut/obj
/ChessGame/ChessGame.Data/bin
/ChessGame/ChessGame.Data/obj
/ChessGame/ChessGame.Data.Contracts/bin
/ChessGame/ChessGame.Data.Contracts/obj
/ChessGame/ChessGame.Data.Tests/bin
/ChessGame/ChessGame.Data.Tests/obj
/ChessGame/ChessGame.Root/bin
/ChessGame/ChessGame.Root/obj
/ChessGame/.vs
/ChessGame/ChessGame.Business.Tests/bin
/ChessGame/ChessGame.Business.Tests/obj
