@{
    ViewData["Title"] = "Home work";
}


<h3>Chess Game</h3>

<!-- Tag helpers -->
<div>
    <a asp-controller="Player" asp-action="Index">Players Index</a>
</div>
<div>
    <a asp-controller="Game" asp-action="Index">Games Index</a>
</div>
